<footer id="footer">
        <p class="copyright">
            Copyright © <span class="fullYear"></span> 彭创 All Right Reserved 粤ICP备17157320号
        </p>
    </div>
</footer>
<script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', '{{site.ga}}', 'auto');ga('send', 'pageview');
// 更新年份信息
(function(){
    var oFooter = document.getElementById('footer'),
        oFullYear = oFooter.getElementsByClassName('fullYear')[0];
        oFullYear.innerHTML = new Date().getFullYear();
})();
// 百度推送，seo优化
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>